:root {
  --dark-blue: #1f00ff;
  --royal-purple: #4c33ff;
  --dark-royal-purple: #0d0174;
  --pitch-dark-blue: #06003c;
  --dark-yellow: #f5cc3d;
  /* Adding fallback fonts like this is good incase the user can't reach the font for one reason or another 
    Also, using a variable like this is useful since the fallback fonts can get quite long */
  --system-ui: "Roboto", system-ui, "Segoe UI", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--system-ui);
  font-size: clamp(1rem, 2vw, 1.3rem);
  background-color: var(--pitch-dark-blue);
}

.login-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 3;
}

.login-form {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;

  padding: 50px;
  border-radius: 30px;
  backdrop-filter: blur(3px);
}

/* Preloads the images */
.login-container::after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1; /* hide images */
  /* load images */
  content: url(../images/hero-images/john-zhou.jpg)
    url(../images/hero-images/clay-banks.jpg)
    url(../images/hero-images/eugene-chystiakov.jpg) 
    url(../images/hero-images/valeriia-neganova.jpg)
} 

#all_slides {
  /* position: relative;
  height: 100vh; */
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  -webkit-transition: opacity 2s;
  -moz-transition: opacity 2s;
  -o-transition: opacity 2s;
  transition: opacity 2s;
}

/* Only the active is shown, the rest is hidden by default */
.active {
  opacity: 1;
  z-index: 2;
}

/* Add the images */

.slide:nth-of-type(1) {
  background-image: url("../images/hero-images/clay-banks.jpg");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.slide:nth-of-type(2) {
  background-image: url("../images/hero-images/eugene-chystiakov.jpg");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.slide:nth-of-type(3) {
  background-image: url("../images/hero-images/john-zhou.jpg");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.slide:nth-of-type(4) {
  background-image: url("../images/hero-images/valeriia-neganova.jpg");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}